:root {
    --color-1: #8C0375;
    --color-2: #C004D9;
    --color-3: #9303A6;
    --color-4: #5D04D9;
    --color-5: #03318C;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
    height: 60px;
}

.logo {
    display: flex;
}

.logo img {
    width: auto;
    height: 100%;
    text-align: center;
    flex: 1;
}

/* Card Section */
.product-section {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 220px;
    height: 280px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-4);
}

.product-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    justify-content: center;
}

.product-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.product-name {
    flex: 100%;
    font-size: 18px;
    margin-left: 10px;

}

.product-price {
    flex: 80%;
    margin-top: 10px;
    font-size: 16px;
    justify-self: left;
    margin-left: 10px;
    font-weight: bold;
}

.delete-icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

/*Form Section*/
input::placeholder{
    color: var(--color-5);
    font-weight: bold;
}

.form-section {
    min-width: 30vw;
    width: 80%;
    margin: 10px;
    padding: 20px;
    text-transform: uppercase;
    width: 30vw;
}

.form-input {
    border-radius: 50px;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-5);
    margin-bottom: 20px;
}

.form-button {
    background-color: var(--color-5);
    color: white;
    border: none;
    padding: 10px 20px 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.form-button-clear {
    background-color: white;
    color: var(--color-5);
    border: 2px solid var(--color-5);
    font-weight: bold;
}

#imagen{
    display: none;
}

#imagen-label {
    color: var(--color-5);
    font-weight: bold;
    text-transform: lowercase;
    min-width: 100%;
}



/*Footer*/
footer{
    display: flex;
    background-color: var(--color-4);
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

}

.logo-footer{
    flex: 100%;
}

.p-footer{
    flex: 100%;
    color: white;
    padding: 5px;
}